* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #131313;
  overflow-x: hidden !important;
}

nav {
  background: #181818;
  z-index: 1000;
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
}

nav .logo {
  width: 100px;
}

nav .navLinks {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navLinks li {
  height: 100%;
  width: 100%;
}

nav .navLinks li .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: darkgrey;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .navLinks li .navLink:hover {
  color: whitesmoke;
  border-bottom: solid 5px whitesmoke;
  background: #222222;
}

nav .navLinks li .icon {
  font-size: 2rem;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

nav .hamburger {
  color: lightgrey;
  display: none;
  text-decoration: none;
  font-size: 1.5rem;
}

main {
  padding: 15vh 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .logo {
  width: 250px;
}

main form {
  padding: 1vh 10px;
  height: 10vh;
  width: 40%;
  margin: auto;
}

main form .search {
  color: lightgrey;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 3px 10px;
  width: 100%;
  background: #222222;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-left: solid 5px lightgrey;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
}

main form .search:hover {
  border-left: solid 5px whitesmoke;
  background: #393939;
}

.filterContainer {
  padding: 1vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (95px)[5];
      grid-template-columns: repeat(5, 95px);
}

.filterContainer .filterButton {
  background: #222222;
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  color: lightgrey;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filterContainer .filterButton:hover {
  background: whitesmoke;
  color: #222222;
}

.filterContainer .selected {
  background: #393939;
  color: whitesmoke;
}

.projects {
  width: 100%;
  padding: 3%;
}

.projects .project {
  margin: 20px 0;
  color: lightgrey;
  padding: 3%;
  border-radius: 10px;
  background: #181818;
  width: 400px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.11);
}

.projects .project:hover {
  background: #222222;
}

.projects .project .pfp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.projects .project .projData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project .projData .title {
  color: grey;
  margin: 0 10px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects .project .projData .title:hover {
  color: whitesmoke;
}

.projects .project .description {
  padding: 10px 0;
  font-size: 0.9rem;
}

.projects .project .langsUsed {
  padding: 10px 0;
}

.projects .project .langsUsed h5 {
  width: 90px;
  padding: 3px;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 5% 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .navLinks {
    display: none;
  }
  nav .navLinksShow {
    position: absolute;
    top: 9vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181818;
    width: 100%;
    min-height: 35vh;
  }
  nav .navLinksShow .navLink {
    padding: 3vh;
  }
  nav .navLinksShow .navLink:hover {
    border-left: solid 5px whitesmoke;
    border-bottom: none !important;
  }
  nav .hamburger {
    display: block;
    position: absolute;
    right: 5%;
    cursor: pointer;
  }
  main .logo {
    width: 200px;
  }
  main form {
    width: 100%;
  }
  main .filterContainer {
    -ms-grid-columns: (90px)[3];
        grid-template-columns: repeat(3, 90px);
  }
  main .filterContainer .filterButtons {
    font-size: 0.8rem;
  }
  .projects .project {
    width: 100%;
    padding: 10%;
  }
  .projects .project .projData .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .projects .project .projData,
  .projects .project .description,
  .projects .project .langsUsed {
    padding: 5px 0;
  }
}
/*# sourceMappingURL=App.css.map */