$backgroundColorLevelNegative1: #090909;
$backgroundColorLevel1: #131313;
$backgroundColorLevel2: #181818;
$backgroundColorLevel3: #222222;
$backgroundColorLevel4: #393939;
$backgroundColorLevel5: #404040;
$accentColor: whitesmoke;
$neutralTextColor: lightgrey;
$boxShadowNeutral: rgba(0, 0, 0, 0.11);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: $backgroundColorLevel1;
  overflow-x: hidden !important;
}
nav {
  background: $backgroundColorLevel2;
  z-index: 1000;
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: flex;
  padding: 0 5%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px $boxShadowNeutral;
  .logo {
    width: 100px;
  }
  .navLinks {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    li {
      height: 100%;
      width: 100%;
      .navLink {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: darkgrey;
        transition: all 0.3s ease;
        &:hover {
          color: $accentColor;
          border-bottom: solid 5px $accentColor;
          background: $backgroundColorLevel3;
        }
      }
      .icon {
        font-size: 2rem;
        transform: translateY(3px);
      }
    }
  }
  .hamburger {
    color: $neutralTextColor;
    display: none;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

main {
  padding: 15vh 5%;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    width: 250px;
  }
  form {
    padding: 1vh 10px;
    height: 10vh;
    width: 40%;
    margin: auto;
    .search {
      color: $neutralTextColor;
      outline: none;
      border: none;
      font-size: 1rem;
      padding: 3px 10px;
      width: 100%;
      background: $backgroundColorLevel3;
      transition: all 0.3s ease;
      border-left: solid 5px $neutralTextColor;
      box-shadow: 0px 0px 20px $boxShadowNeutral;
      &:hover {
        border-left: solid 5px $accentColor;
        background: $backgroundColorLevel4;
      }
    }
  }
}

.filterContainer {
  padding: 1vh 0;
  display: grid;
  grid-template-columns: repeat(5, 95px);
  .filterButton {
    background: $backgroundColorLevel3;
    border: none;
    outline: none;
    padding: 5px;
    margin: 5px;
    color: $neutralTextColor;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
      background: $accentColor;
      color: $backgroundColorLevel3;
    }
  }
  .selected {
    background: $backgroundColorLevel4;
    color: $accentColor;
  }
}

.projects {
  width: 100%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto(400px, 1fr);
  gap: 20px;
  .project {
    color: $neutralTextColor;
    padding: 5%;
    border-radius: 10px;
    background: $backgroundColorLevel2;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 30px $boxShadowNeutral;
    &:hover {
      background: $backgroundColorLevel3;
    }
    .pfp {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .projData {
      display: flex;
      padding: 10px 0;
      align-items: center;
      .title {
        color: grey;
        margin: 0 10px;
        font-size: 1rem;
        display: flex;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          color: $accentColor;
        }
      }
    }
    .description {
      padding: 10px 0;
      font-size: 0.9rem;
    }
    .langsUsed {
      padding: 10px 0;
      h5 {
        width: 90px;
        padding: 3px;
      }
    }
  }
}
footer {
  background: $backgroundColorLevelNegative1;
  padding: 3% 5%;
  color: $neutralTextColor;
  text-align: center;
  a {
    color: darkgrey;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: solid 2px darkgrey;
    &:hover {
      color: $accentColor;
    }
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding: 5% 0;
    flex-direction: column;
    justify-content: center;
    .navLinks {
      display: none;
    }
    .navLinksShow {
      position: absolute;
      top: 9vh;
      display: flex;
      flex-direction: column;
      background: $backgroundColorLevel2;
      width: 100%;
      min-height: 35vh;
      .navLink {
        padding: 3vh;
        &:hover {
          border-left: solid 5px $accentColor;
          border-bottom: none !important;
        }
      }
    }
    .hamburger {
      display: block;
      position: absolute;
      right: 5%;
      cursor: pointer;
    }
  }
  main {
    padding: 15vh 1%;
    padding-bottom: 5vh;
    .logo {
      width: 200px;
    }
    form {
      width: 100%;
    }
    .filterContainer {
      grid-template-columns: repeat(3, 90px);
      .filterButtons {
        font-size: 0.8rem;
      }
    }
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
    .project {
      width: 100%;
      padding: 10%;
      .projData {
        .title {
          flex-direction: column;
          font-size: 0.9rem;
          line-height: 1rem;
        }
      }
      .projData,
      .description,
      .langsUsed {
        padding: 5px 0;
      }
    }
  }
  footer {
    padding: 10%;
  }
}
